*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ======== Form======== */
.form-banner img{
  height: 100%;
  width: 100%;
}

/* ------ navbar -------- */
.navbar{
  background-color: black !important;
  color: white !important;
}
.nav-link,.navbar-brand{
  background-color: black !important;
  color: white !important;
}